.reveal .acknowledgement {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.reveal .acknowledgement ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.reveal figure.acknowledgement-fig {
    max-width: 11%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.reveal figure {
    margin: 0;
    padding: 0;
}

.reveal figure img {
    margin: 0;
}

.reveal figcaption {
    text-align: right;
    width: 100%;
    font-size: 0.4em;
    margin: 0;
}

.reveal .small {
    font-size: 0.8em;
}

.reveal .smaller {
    font-size: 0.7em;
}

.reveal .tiny {
    font-size: 0.5em;
}

.citation {
    float: right;
    font-size: 0.5em;
}

.side-by-side-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-by-side-container.wrap {
    flex-wrap: wrap;
}

.side-by-side-container.wrap div {
    margin-bottom: 2em;
}
